@import '_nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


.wrapper {
	background: rgba(0, 0, 0, 0.8);
	font-family: 'Fira Code', monospace;
}
.main {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.5);
}
.text-1 {

	&__title {
		font-size: 25px;
		padding: 30px;
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		color: #fff;
		font-size: 20px;
		font-weight: 600;
	}

	&__image-1 {
		position: relative;
		& img {
			max-width: 100%;
			margin-left: 50%;
			transform: translateX(-50%);}
	}

	&__image-2 {
		position: relative;
		& img {
			max-width: 100%;
			margin-left: 50%;
			transform: translateX(-50%);
		}
	}

	&__lorem {
		margin: 20px;
	}
}

.cards {

	&__row {
		display: flex;
		justify-content: space-around;
	}

	&__title {
		padding: 30px;
		font-size: 25px;
	}

	&__card {
		width: 32%;
	}

	&__image {
		position: relative;
		& img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}
		&_fit-none img {
			object-fit: contain;
		}
		&_position img{
			object-position: top right;
		}
	}

	&__object-position {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		color: #fff;
	}

	&__paragraf-box {
		margin: 10px 0;
	}

	&__lorem {
		font-size: 16px;
		line-height: 20px;
		& span.title {
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 10px;
			display: inline-block;
		}
		& span.value {
			text-transform: capitalize;
			font-weight: 600;
			text-decoration: underline;
		}
	}
}

.column {

	&__header {
		padding: 30px;
		font-size: 25px;
	}

	&__image {
		position: relative;
		width: 33.333%;
		min-height: 100px;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__card {
		margin: 20px 0;
	}

	&__row {
		display: flex;
	}

	&__text {
		padding: 30px;
		width: 66.666%;
	}

	&__title {
		font-size: 20px;
		font-weight: 600;
		margin: 20px;
	}

	&__paragraf {
		line-height: 18px;
	}
}
.construction__header {
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
}